APP_TITLE=Благотворительный фонд
DATABASE_URL=sqlite:///db.sqlite3 or other db (dialect+driver://username:password@host:port/database)
SECRET=YOUR_SECRET_KEY
FIRST_SUPERUSER_EMAIL=string@example.com
FIRST_SUPERUSER_PASSWORD=string